.App {
  margin: 24px auto;
  max-width: min(100vw, 1000px);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.game-wrapper {
  width: 100%;
}

@media (min-width: 1000px) {
  .game-wrapper {
    aspect-ratio: 1 / 1;
  }
}
